{
  "presets": [
    [
      "env",
      {
        "debug": false,
        "targets": {
          "node": "current"
        },
        "modules": "commonjs"
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-syntax-dynamic-import"
  ]
}
