/* Colors */
$youtubeRed: #D0021B;
$twitterBlue: #4A90E2;
$twitterBlueLight: #8AB4E6;
$hackerNewsOrange: #FF6600;
$white: #FFFFFF;

:root {
  --youtube-red: #D0021B;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
}

/* Icons? */


/* Fonts? */


/* ..etc? */
