@import "./common.pcss";

.markkapenni {
  div {
    color: $white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-size: 32pt;
  }
}

  /* kommentti */
  .tyylittelyt {
    line-height: 64pt;
    background: $twitterBlue;
  }

  /* Toinen kommentti */
  .haistaJuggisGagga {
    line-height: 32pt;
    background: $twitterBlueLight;
  }