@import "../../Common/common.pcss";

.youtubeItem {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  margin-top: 16px;
}

.youtubeDetails {
  display: flex;
  order: 2;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px;
}

.thumbnail {
  order: 1;
}

